:root {
    --blue: #2196f3;
    --blue-hover: #1e88e5;
    --very-fkn-blue: #1976d2;
    --white: #fff;
  }

*{
    box-sizing: border-box;
    margin: 0px;
}

hr{
    margin-top: 8px;
    margin-bottom: 8px;
}
body{
    background-color: var(--white);
}

strong{
    color: darkslategrey;
}
a{
    text-decoration: none;
}
button{
    border-radius: 5px;
}

label{
    font-family: Tahoma;
}
input,select{
    border: 1px solid gray;
    border-radius: 5px;
    margin-left: 1rem;
    padding: 3px 5px;
}
input:focus,select:focus{
    border: 1px solid var(--very-fkn-blue);
    box-shadow: 0 0 0 2px rgba(24,117,255,0.25);
    outline: 0;
}


.nav{
    margin-bottom: 1rem;
}

.page-content{
    min-height: 90vh;
    width: 100%;
    padding-left: 10vw;
    padding-right: 10vw;
    background-color: var(--white);
}

.nav-contents{
    display: flex;
    justify-items: center;
}
.buttons{
    margin-top: 1.5rem;
    display: flex;
    justify-content: flex-end;
    width: 90vw;
}

#productType{
    justify-self: flex-start;
}

/*Products page buttons*/
#delete-product-btn{
    width: 7rem;
    height: 2rem;
    margin-left: 10px;
    color: var(--white);
    background-color: #b21e35;
    border: none;
}
#delete-product-btn:hover{
    background-color:#c71f37 ;
}
#delete-product-btn:active{
    background-color: #e01e37;
}
#add-product-btn{
    cursor: pointer;
    width: 7rem;
    height: 2rem;
    margin-left: 10px;
    color: var(--white);
    background-color: var(--blue);
   border: none;
}
#add-product-btn:hover{
    cursor: default;
    background-color: var(--blue-hover);
}
#add-product-btn:active{
    background-color: var(--very-fkn-blue);
}
/*Add product page buttons*/
#save-btn{
    width: 7rem;
    height: 2rem;
    margin-left: 10px;
    color: white;
    background-color: var(--blue);
    border: none;
}
#save-btn:hover{
    background-color: var(--blue-hover);
}
#save-btn:active{
    background-color: var(--very-fkn-blue);
}
#cancel-btn{
    width: 7rem;
    height: 2rem;
    margin-left: 10px;
    color: white;
    background-color: #b21e35;
    border: none;
}
#cancel-btn:hover{
    background-color:#c71f37 ;
}
#cancel-btn:active{
    background-color: #e01e37;
}
/*Nav bar text*/
.nav-text{
    width: 20rem;
}
.nav-title{
    margin-top: 1.25rem;
    font-family: Verdana;
    font-size: 1.75rem;
}

/*Products in productsOld list page*/
.content{
    display: grid;
    grid-template-columns: repeat(4, minmax(250px, 1fr));
    flex-wrap: wrap;
    justify-content: flex-start;
}


.box{
    width: 15rem;
    height: 10rem;
    border: 1px solid lightgray;
    /* box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1); */
    /* border-radius: 32px; */
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    margin: 0.75rem;
    /* background-color: white; */
}
.delete-checkbox{
    margin: 1rem 0.5rem 0 1rem;
}
.content-item{
    margin: 0.25rem;
}
.box-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Form style */
/* form{

} */


.form-group{
    margin-bottom: 1rem;
    width: 25vw;
    display: flex;
    justify-content: space-between;

}

/*Footer*/
.footer{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: var(--white);
    padding-left: 10vw;
    padding-right: 10vw;
}

.footer-legend{
    text-align: center;
    margin-top: 8px;
    margin-bottom: 8px;
}

.seperator{
    background-color: black;
    height: 2px;
}

@media only screen and (max-width: 980px) {
    .content{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }
    .box{
        width: 15rem;
        height: 10rem;
        border: 1px solid lightgray;
        /* box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1); */
        /* border-radius: 32px; */
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        margin: 0.75rem;
        /* background-color: white; */
    }

}
